# Set Timezone
php_value date.timezone Europe/Istanbul

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Error Pages
ErrorDocument 404 /404/

# Language Redirect [L,QSA]
RewriteRule ^([a-z]{2})$ /?lang=$1 [L,QSA]
RewriteRule ^(.*)/([a-z]{2})$ $1/?lang=$2 [L,QSA]