@charset "utf-8";
html, body {
    margin: 0px;
    font-family: Calibri;
    color: #ffffff;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav-main {
    width: 100%;
    height: 550px;
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.logo {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 5%;
}
.logo-title {
    font-size: 25px;
    text-align: center;
    color: #BFBFBF;
}
.nav-menu {
    margin-top: 7%;
	text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 40px;
}
.nav-menu li{
    margin-left: 2px;
    display: inline-block;
}
.nav-menu .menu-item{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding-top: 5px;
	font-size:13px;
    width: 100px;
    height: 23px;
}
.nav-menu .menu-item:after{
	margin-top: 8px;
	display:block;
	content:'';
	border-bottom: solid 2px;
	transform: scaleX(0);
	transition: transform 250ms ease-in;
}
.nav-menu .menu-item:hover:after{
    transform: scaleX(1);
}
.nav-menu .menu-item:hover{
	background: rgba(255,255,255,0.25);
	transition: 250ms ease-in;
}
.nav-menu .menu-item.active{
	border-bottom-style: solid;
  	border-width: 2px;
}
.nav-menu-mobile {
	display: none;
}
.content-main {
    width: 100%;
    color: #8f8f8f;
}
.content-main .page-details{
	color: #525252;
	background: #DDDDDD;
	padding: 5px 0px 5px;
}
.content-main .page-details p{
	margin: 0px 30px;
	font-size: 32px;
}
.content-main .page-details h4{
	margin: 10px 30px;
	padding-top: 0px;
	font-size: 20px;
	font-weight: lighter;
}
.content-main .page-section{
	color: #525252;
	border-bottom: 1px solid #DFDFDF;
	margin: 0px 30px;
	padding: 5px 0px 5px;
}
.content-main .page-section .page-title{
	display: block;
	margin: 5px 10px;
}
.content-main .page-section .table-res{
	display: block;
	overflow-x: auto;
	width: 100%;
}
.content-main .page-section table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #dddddd;
	border-bottom: 2px solid #86474F;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
.content-main .page-section table th, .content-main .page-section table td {
	color: #7F7F7F;
  	border: 1px solid #EEEEEE;
  	padding: 12px 35px;
  	border-collapse: collapse;
}
.content-main .page-section table th {
  background: #86474F;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}
.content-main .page-section table.table-hover tbody tr:hover{ background: #D0D0D0; }
.content-main .page-section table.table-hover tbody tr:hover td{ color: #3A3A3A; }
.content-main .page-section table.table-stripe tbody tr:nth-child(odd){ background: #EEEEEE; }

.footer{
	background: #0C0419;
	margin: 0px 0px;
	height: 65px;
	display: grid;
	grid-template-columns: 22% 70% auto;
}
.footer div{
	padding: 0px 10px;
}
.footer .footer-copy{
	font-size: 10px;
	padding-top: 25px;
}
.footer .footer-urls{
	text-align: end;
}
.footer .footer-urls ul{
	padding:0px;
	margin-top: 20px;
}
.footer .footer-urls ul li{
	margin-left: 1px;
    display: inline-block;
}
.footer .footer-version{
	font-size: 9px;
	padding-top: 25px;
	text-align: end;
}
.footer .footer-urls a{
	text-decoration: none;
	font-size: 11px;
	text-align: center;
	padding-top: 5px;
	color: #ffffff;
	display: inline-block;
	width: 80px;
	height: 20px;
}
.footer .footer-urls a:after{
	margin-top: 5px;
	display:block;
	content:'';
	border-bottom: solid 2px;
	transform: scaleX(0);
	transition: transform 250ms ease-in;
}
.footer .footer-urls a:hover:after{
    transform: scaleX(1);
}
.footer .footer-urls a:hover{
	background: rgba(255,255,255,0.25);
	transition: 250ms ease-in;
}
.page-section .page-grid-2 {
	display: grid;
	grid-template-columns: auto auto;
}
.page-section .page-grid-2 div {
	padding: 0px 10px;
}
.page-section .page-grid-1 {
	display: grid;
	grid-template-columns: auto;
}
.page-section .page-grid-1 div {
	padding: 0px 10px;
}
.page-section .page-grid-3 {
	display: grid;
	grid-template-columns: auto auto auto;
}
.page-section .page-grid-3 div {
	padding: 0px 10px;
}
.page-section .page-grid-4 {
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.page-section .page-grid-4 div {
	padding: 0px 10px;
}
.page-section .page-grid-5 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}
.page-section .page-grid-5 div {
	padding: 0px 10px;
}
.page-form .horizontal{
	width: 100%;
	padding: 5px;
	display: flex;
  	flex-flow: row wrap;
  	align-items: center;
}
.page-form.horizontal .form-row{
	display: flex;
	width: 100%;
	margin: 5px 10px 5px 0;
}
.page-form .form-row p, .page-form .form-row.text-side label, .page-form .form-row h1, .page-form .form-row h2, .page-form .form-row h3, .page-form .form-row h4{
	width: 160px;
	padding-top: 8px;
	margin: 5px 10px 5px 0;
}
.page-form .form-row input{
	margin: 5px -5px;
	width: 100%;
}
.page-form .form-row textarea{
	margin: 5px -5px;
	width: 100%;
	height: 65px;
}
.page-form .form-row.buttons{
	display: inline-block;
	width: 100%;
}
.page-form .form-row.buttons input[type='submit'],
.page-form .form-row.buttons input[type='reset'],
.page-form .form-row.buttons input[type='button'],
.page-form .form-row.buttons button{
	float: right;
	margin-left: 10px;
	padding: 8px;
	font-size:12px;
	width: 28%;
}
.page-form .vertical{
	width: 100%;
	padding: 5px;
  	align-items: center;
}
.page-form.vertical .form-row{
    display: block;
    width: 95%;
}
input{
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 0px;
	border-bottom: 1px solid #ddd;
}
input:hover{
	border-bottom: 1px solid #222;
	background: rgba(50,50,50,0.15);
	transition: 250ms ease-in-out;
}
input:focus{
	border: 0px;
	outline: 0px;
	border-bottom: 1px solid #222;
}
input[type='submit'],
input[type='reset'],
input[type='button'],
button{
	border: 0px;
	padding: 10px 20px;
	background-color:#86474F;
	color: #efefef;
}
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:hover{
	background: #cdcdcd;
	color: #4a4a4a;
	transition: 250ms ease-in-out;
}
textarea{
	resize:none;
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 0px;
	border-bottom: 1px solid #ddd;
}
textarea:hover{
	border-bottom: 1px solid #222;
	background: rgba(50,50,50,0.15);
	transition: 250ms ease-in-out;
}
textarea:focus{
	border: 0px;
	outline: 0px;
	border-bottom: 1px solid #222;
}

.page-category-list{
	display: grid;
	grid-template-columns: auto auto auto;
}
.page-category-list .category-item{
	margin: 15px;
	padding: 15px;
	text-align: center;
}
.page-category-list .category-item .category-button{
	height:70px;
}

@media (max-width:480px){
	.nav-main {
		width: 100%;
		height: 250px;
	}
	.logo {
		width: 80%;
		margin: auto;
		padding-top: 25%;
	}
	.logo-title {
		font-size: 15px;
	}
	.nav-menu {
		display: none;
	}
	.nav-menu-mobile {
		display: block;
		position: absolute;
		top: -16px;
		left: 0;
		width: 100%;
		min-height: 100%;
		text-align: center;
		padding-top: 80px;
		padding-left: 0px;
		padding-right: 0px;
		background: #0C0419;
		z-index: 10;
		transition: all .4s ease-in-out;
		transform: translateX(-100%);
	}
	.nav-menu-mobile .menu-item {
		text-decoration: none;
		color: #ffffff;
		display: block;
		line-height: 2;
		padding: 15px 0;
	}
	.nav-menu-mobile .menu-item.active{
		background: rgba(255,255,255,0.25);
	}
	.nav-menu-mobile .menu-item:hover{
		background: rgba(255,255,255,0.25);
		transition: 250ms ease-in;
	}
	.menu-icon {
	  height: 32px;
	  width: 43px;
	  margin: 3%;
	  position: absolute;
	  top: 10px;
	  right: 3%;
	  display: inline-block;
	  vertical-align: middle;
	  z-index: 20;
	}
	.menu-icon span {
	  display: block;
	  background: #BFBFBF;
	  width: 65%;
	  height: 2px;
	  margin-top: -7px;
	  position: absolute;
	  left: 0;
	  top: 50%;
	}
	.menu-icon:before,
	.menu-icon:after {
	  content: "";
	  display: block;
	  background: #BFBFBF;
	  width: 65%;
	  height: 2px;
	  position: absolute;
	  left: 0;
	  transform-origin: center center;
	  transform: rotate(0deg);
	  transition: all 0.3s ease;
	}
	.menu-icon:before {
	  top: 2px;
	  margin-top: -2px;
	}
	.menu-icon:after {
	  bottom: 2px;
	  margin-bottom: 10px;
	}
	.menu_shown .menu-icon span {
	  background: transparent;
	}
	.menu_shown .menu-icon:before {
	  top: 35%;
	  transform: rotate(40deg);
	}
	.menu_shown .menu-icon:after {
	  bottom: 35%;
	  transform: rotate(-40deg);
	}
	.menu_shown .nav-menu-mobile {
	  transform: translateX(0);
	}
	.content-main .page-section{
		/* <BUG> 0px to empty space in page's right.*/
		margin:0px 8px 0px 0px;
	}
	.page-section .page-grid-2,.page-section .page-grid-3,.page-section .page-grid-4,.page-section .page-grid-5 {
		grid-template-columns: auto;
	}
	.footer{
		display: grid;
		grid-template-columns: auto;
		height: 250px;
	}
	.footer .footer-version{
		padding-top: 10px;
	}
	.footer .footer-urls{
		text-align: none;
	}
	.page-section .page-grid-2 div {
		padding: 0px;
	}
	.page-section .page-grid-3 div {
		padding: 0px;
	}
	.page-section .page-grid-4 div {
		padding: 0px;
	}
	.page-section .page-grid-5 div {
		padding: 0px;
	}
	.page-form.horizontal .form-row{
		width: 99.8%;
		margin: 5px 0px 5px 0;
	}
	.page-form .form-row p, .page-form .form-row.text-side label, .page-form .form-row h1, .page-form .form-row h2, .page-form .form-row h3, .page-form .form-row h4{
		width: inherit;
	}
	.page-category-list{
		display: grid;
		grid-template-columns: auto;
	}
}

@media (min-width:481px) and (max-width:847px){
	.nav-main {
		width: 100%;
		height: 240px;
	}
	.logo {
		width: 45%;
		padding-top: 6%;
	}
	.logo-title {
		font-size: 18px;
	}
	.nav-menu {
    	margin-top: 3%;
	}
}

@media (min-width:481px) and (max-width:684px){
	.nav-menu{
		padding-top: 0px;
	}
	.nav-menu .menu-item{
		margin-top: 5px;
	}
	.page-section .page-grid-2,.page-section .page-grid-3,.page-section .page-grid-4,.page-section .page-grid-5 {
		grid-template-columns: auto;
	}
	.footer{
		display: grid;
		grid-template-columns: auto;
		height: 220px;
	}
}

@media (max-width: 350px){
	.logo {
		padding-top: 40%;
	}
}

@media (min-width: 846px) and (max-width: 1366px){
	.nav-main {
    	height: 400px;
	}
}
